*{                            /*Reset na caixa de colisão de todos os elementos da página (elemento, padding, margin, border)*/
    box-sizing: border-box;    /*Define o tamanho de um elemento a partir da sua borda, espaçamento e o conteúdo*/
    margin: 0;  /*O navegador irá considerar a margem e altura quando for calcular o espaçamento do elemento*/
    padding: 0;
}

header .container{ /*Alinhar a barra de navegação ao lado da headline 1 / Específico para o header*/
    display: flex; /*Alinha todos os elementos filho em relação ao elemento pai*/
    align-items: center;  /*Permite ajustar os elementos filhos do flex container verticalmente */
    justify-content: space-between; /*Permite ajustar os elementos filhos do flex container horizontalmente */
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header li{           /*Selecionou o elemento "li" dentro de header para alinhar um item ao lado do outro*/
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none; /*remove o underline da palavra linkada*/
}

.container{    /*Div criada para alinhar os containers do cabeçalho , todo bloco que estiver dentro deste seletor ficará alinhado */
    width: 1366px;
    margin: 0 auto;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img{      /*Exige 180px de altura para todas as imagens dentro do astigos que estao dentro da div com a class .article*/
   /* height: 180px; */
   width: 100%;
}

.article article{        /*adicionado uma largura de 30% nos artigos que estao dentro da div com a class .article*/
    width: 30%;
}

.article article h3{ /*Aplica margem de 16px no topo e na base das headline 3 dos artigos dentro da div com a class .article*/
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.article article a{          /*Estiliza todos os "Ler mais" de todos os artigos dentro da div com a class .article*/
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.article article a:hover{    /*Aplica interação nos botões*/
    text-decoration: underline;
}

.article article p, .article article a{
    font-family: Arial, Helvetica, sans-serif;
}

section h2, .article article{  /*aplica margem de 16px na base das h2 de todas as sections, e dos artigos dentro da div com a class .article*/
    margin-bottom: 16px;
}

section{                 /*Exige 16px no topo e na base e 0 nas laterais para o espaçamento padding das sections*/
    padding: 16px 0;
}

section h2{
    font-size: 32px;
}

#sports{            /*Altera a cor de fundo da section com o ID sports*/
    background-color: rgba(0,255,0, 0.1);
}

#sports .article article a{         /*Altera a cor dos botoes Ler mais*/
    background-color: #009432;
}

#economy{                           /*Altera a cor de fundo da section com o ID economy*/
    background-color: #f8f59f;
}

#economy .article article a{      /*Altera a cor dos botoes Ler mais*/
    background-color: #ff9f1a;
}

#tecnology{
    background-color: #b7d3e987;
}

#tecnology .article article a{
    background-color: #486f7f;
}

#travel{
    background-color: #f2a98a81;
}

#travel .article article a{
    background-color: #823737;
}